		<div class="container">
			<div class="contact">
				<aside>
					<h4>Opening hours</h4>
					<ul>
						<li>Monday: Closed</li>
						<li>Tue-Wed: 9am - 10pm</li>
						<li>Thu-Fri: 9am - 10pm</li>
						<li>Sat-Sun: 5pm - 10pm</li>
					</ul>
				</aside>
				
				<aside>
					<h4>Where to find us?</h4>
					<address>
						<p>62 Av. des Champs-Élysées</p>
						<p> 75008 Paris</p>
						<p>+33 05 04 20 12</p>
						<a href="mailto:nita@baliJew.com">customerservice@balijewelry.com</a>
					</address>
					<div class="map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.3396535874763!2d2.30331811558277!3d48.87080127928868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fc38d5e936d%3A0xdcdea9745e9f9f68!2sTiffany%20%26%20Co.!5e0!3m2!1sen!2sfr!4v1664483141892!5m2!1sen!2sfr">
						</iframe>
					</div>
				</aside>
			</div> 
		</div> 
